section#code
  .container
    #code-content
      img(src='images/logo_cpp.svg', alt='C++')
      h2 cout << "Hello World!";
      a.btn.btn-primary(href='') C++
      img(src='images/logo_python.svg', alt='Python')
      h2 print "Hello World!"
      a.btn.btn-primary(href='') Python
