header
  nav#header-nav.navbar.navbar-default.navbar-fixed-top.animated.slideInDown
    .container
      .navbar-header
        a.navbar-brand(href='') Wulfcode
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
      #navbar-main.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li: a(href='#home') Home
          li: a(href='#code') Code
          li: a(href='') Tutorials
          li: a(href='') Projects
