doctype html
html
  head
    title &AElig; Wulfcode
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/components/bootswatch-dist/css/bootstrap.css')
    link(rel='stylesheet', href='/components/animate.css/animate.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Amatic+SC|Merriweather')
    link(rel='stylesheet', href='/stylesheets/monokai_sublime.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')

  body
    include header
    block content
    include footer
    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/bootswatch-dist/js/bootstrap.js')
    script(src='/javascripts/highlight.pack.js')
    script(src='/javascripts/wulfcode.js')
