doctype html
html
  head
    title &AElig; Wulfcode
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/components/bootswatch-dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')

  body
    include header
    .wrapper
      block content
    include footer
    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/bootswatch-dist/js/bootstrap.js')
    script(src='/javascripts/wulfcode.js')
