@import config
@import mixins

/**
  GLOBAL
*/
html
  height 100%
  width 100%
body
  height inherit
  margin-bottom 40px
a
  font-size 1em
.scroll-top
  background transparent!important
  padding-bottom 5px!important
  border-bottom 1px solid white!important
.btn-primary
  background-color secondary
/**
  HEADER
*/
nav
  //background white
  transition all 0.4s ease
  a
    font-size 1.05em
.navbar-default
  background primary
  border-bottom 1px solid pink
  padding-bottom 0
  .navbar-nav > li > a
    color white
    font-family Merriweather, sans-serif
    &:hover
      color secondary
  .navbar-brand
    font-family 'Amatic SC', cursive
    font-size 3em
    color white
    &:hover
      color secondary
/**
  CONTENT
*/
pre
  background-color transparent
  border-color secondary
  width 50%
  margin 0 auto
#home
  //position absolute
  height 100%
  width 100%
#hero-quote
  position absolute
  margin 0 auto
  width 100%
  text-align center
  top 50%
  color white
  h1
    font-family 'Amatic SC', cursive
    font-size 4em
  h4
    font-family Merriweather, sans-serif
#hero
  background-image url(../images/hero_wolf_bw.jpg)
  background-position center
  background-size cover
  background-repeat no-repeat
  height 100%
#code
  background-color tertiary
  min-height 100%
  h2
    font-family Consolas, Menlo, Monaco, monospace
  img
    width auto
    height 100px
#code-content
  margin-top 80px

/**
  FOOTER
*/
.footer
  background-color secondary
  font-size 1.1em
  color black
  text-align center
  width 100%
  height 40px
  p
    margin 8px 0 0
